[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sklearn = "*"
tensorflow = "*"
wave = "*"
librosa = "*"
pyroomacoustics = "*"
tqdm = "*"
flask = "*"
pydub = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pyaudio = "*"
anal = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
test = "python -m unittest discover test"
start = "python main.py --start"
record = "python main.py --record"
train = "python main.py --train"
demo = "python main.py --demo"
